/* CUSTOM CLASSES */

/* Site Banner */

.topBanner{
    padding: 10px 30px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    width: 100%;
    background: #b71f1f;
    color: white;
    z-index: 3;
    position: absolute;
}

/* Top navigation bar */

.topBar {
    background-color: #333;
    overflow: hidden;
    position: absolute;
    margin-top:90px;
    margin-left: -9px;
    width: 105%;
}

.topBar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topBar a:hover {
    background-color: #ddd;
    color: black;
}

.topBar a.active {
    background-color: #827a7a;
    color: white;
}

/* Main area of page  */

.mainArea{
    padding: 140px 20px;
}

/* ELEMENTS */

/* Whole table */

html{
    font-family: Georgia;
}

/* Input elements */

input[type=button], input[type=submit] {
    padding: 5px;
    border: 3px solid #000000;
    border-style:inset;
    background-color: #827a7a;
    color: white;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

input[type=button]:hover, input[type=submit]:hover, input[type=file]:hover {
    padding: 5px;
    border: 3px solid #000000;
    background-color: white;
	color: black;
    cursor: pointer;
}

input[type=text], input[type=number] {
    padding: 3px;
    border: 1px solid #000000;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
input[type=text]:hover, input[type=number]:hover {
    padding: 3px;
    border: 1px solid #000000;
    cursor: text;
}

select {
    padding: 3px;
    border: 1px solid #000000;

}
select:hover {
    padding: 3px;
    border: 1px solid #000000;
    cursor: pointer;
}

/* Table elements */

table{
    border-collapse: collapse;
    width: 100%;
}

table, th, td{
    border: 2px solid black;

}

th, td {
    padding: 5px;
    text-align:center;
}

tr:nth-child(1) {
    background-color: red;
    font-weight: bold;
    color: white;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(even+1) {
    background-color: white;
}

td>select{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.topBanner:hover{
    /*animation: shake 0.5s;*/
    /*animation-iteration-count: infinite;*/
}

@keyframes shake {
    0% { transform: translate(50px, 5px) rotate(0deg); }
    10% { transform: translate(-50px, -50px) rotate(-1deg); }
    20% { transform: translate(-50px, 50px) rotate(1deg); }
    30% { transform: translate(5px, 50px) rotate(0deg); }
    40% { transform: translate(50px, -50px) rotate(1deg); }
    50% { transform: translate(-50px, 5px) rotate(-1deg); }
    60% { transform: translate(-50px, 50px) rotate(0deg); }
    70% { transform: translate(5px, 50px) rotate(-1deg); }
    80% { transform: translate(-50px, -50px) rotate(1deg); }
    90% { transform: translate(50px, 5px) rotate(0deg); }
    100% { transform: translate(50px, -50px) rotate(-1deg); }
}